/* navigation */
nav{
flex-direction: column;
height: 30%;

}
.logo img{
    width: 80px;
}
ul{
    flex-wrap: wrap;
}
li{
    font-size: 1rem;
}
/* home section */
#home{
    flex-direction: column;
background-position: top;
background-size: cover;
padding: 3px 5px;
height: 100%;
width: 100%;
}
#home h1{
    font-size: 25px;
}
#home p{
    font-size: 10px;
    padding: 10px 35px;
}

#btn{
    padding: 1px 10px;
    font-size: 10px;
    margin: 50px;
    width: 150px;
    height: 20px;
}
/* services section */

#heading{
    padding: 10px 0px;
    font-size: 25px;
    font-family: sans-serif;
    box-shadow: 0px 0px 5px 0px black;
}
.services{
flex-direction: column;
align-items: center;
}

.card{
        
    width: 75%;
}
.offer{
     flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    align-items: center;

}
.head {
    
    text-align: center;
    color: rgb(31, 7, 11);
    justify-content: center;
    margin: 10px 30px;
    margin-top: 10px;
}

.mobile > img {
    margin-right: 90px;
    height: 100%;
    width: 50%;
}

.head >h2{
    
    font-family: Arial;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    flex-wrap: wrap;
}  
.head > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: flex-start;
    margin: 50px 0px;
}